@import 'index.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0px;

  .header {
    h2 {
      margin-bottom: 0;
      padding-left: 10px;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    .action {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 40px;
    }
  }
}
