.DS_Store
node_modules
results
temp
.nyc_output
*.tsbuildinfo

dist
artifacts
artifacts-ovm
cache
cache-ovm

l2geth/build/bin
packages/contracts/deployments/custom
packages/contracts/coverage*
packages/contracts/@ens*
packages/contracts/@openzeppelin*
packages/contracts/hardhat*

packages/data-transport-layer/db

packages/omgx/contracts/wallet/build

# vim
*.swp

.env
env.js
env.yml
env.js

.serverless
packages/omgx/contracts/deployment/local/addresses.json
packages/omgx/contracts/wallet/src/deployment/local/addresses.json
