.DS_Store
node_modules
results
temp
.nyc_output
*.tsbuildinfo

dist
artifacts
artifacts-ovm
cache
cache-ovm

l2geth/build/bin
packages/contracts/deployments/custom
packages/contracts/coverage*

packages/data-transport-layer/db

# vim
*.swp

.env
# Dependencies
node_modules/

# Build
build/
build-ovm/
artifacts/
artifacts-ovm/
cache/
cache-ovm/
deployment/*.json
wallet/src/deployment
# IDE
/.idea
/.awcache
/.vscode
*.iml

# misc
*.swp
.DS_Store
/packages/**/LICENSE.txt
*.test.tmp
/**/package-lock.json

/**/.env
env.js

/**/*.log

*.bytecode

# security
*.pem

# Local Dockerfiles
*.mine.yml

yarn.lock
