L1_NODE_WEB3_URL=https://mainnet.infura.io/v3/4a8ff28168f34a9d91bd84412def30ab
VERIFIER_WEB3_URL=http://localhost:8547
ADDRESS_MANAGER_ADDRESS=0x8376ac6C3f73a25Dd994E0b0669ca7ee0C02F089
L1_START_OFFSET=13011896 #when Boba Mainnet was deployed in L1 blocks