# Copy one, but not both, to a .env file

# Rinkeby
CHAIN_ID=28
NODE_WEB3_URL=https://rinkeby.boba.network
# One of the standard hardhat ones for local L2
deployerPrivateKey=0x8b3a350cf5c34c9194ca85829a2df0ec3153be0318b5e2d3348e872092edffba

# LOCAL
CHAIN_ID=31338
NODE_WEB3_URL=http://127.0.0.1:8545
# One of the standard hardhat ones for local L2
deployerPrivateKey=0x8b3a350cf5c34c9194ca85829a2df0ec3153be0318b5e2d3348e872092edffba