@import 'index.scss';

$dropDownHeight: 140px;
$boxDropDownHeight: 60px;

.ListFarm {
  background-color: #142031;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 20px;

  .topContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    :first-child {
      flex-direction: row;
    }
    :last-child {
      flex-direction: row;
    }

    .Image {
      width: 50px;
      padding-right: 10px;
    }
  }

  /*************************/
  .LinkText {
    font-size: 1em;
    font-weight: 700;
    color: $green;
  }

  .LinkTextOff {
    font-size: 1em;
    font-weight: 700;
    color: $gray6;
  }

  .LinkButton {
    color: $green;
  }

  .LinkButtonOff {
    color: $gray6;
  }
}
