@import 'index.scss';

$dropDownHeight: 60px;
$boxDropDownHeight: 50px;

.proposalDetail {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
}

.dropDownContainer {
  height: $dropDownHeight;
  animation: openDropDown 1s;
  overflow: hidden;
  // background-color: $gray7;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.closeDropDown {
  height: 0px;
  animation: closeDropDown 1s;
  overflow: hidden;
  // background-color: $gray7;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropDownInit {
  height: 0px;
  overflow: hidden;
}

.boxContainer {
  height: $boxDropDownHeight;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*************************/
@keyframes openDropDown {
  0% {
    height: 0px;
  }
  100% {
    height: $dropDownHeight;
  }
}

@keyframes closeDropDown {
  0% {
    height: $dropDownHeight;
  }
  100% {
    height: 0px;
  }
}

/*************************/

.divider {
  height: 2px;
  width: 90%;
  margin: 5px auto;
  position: relative;
  z-index: 1;
  background: white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: white;
  }
}
